/**
    design du carousel
*/
.carousel {
    border-radius: 2rem;
    position: relative;
    background: url('./img/cinema.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 35% center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    img{
        height: calc(70% - 1em);
        position: absolute;
        top:0;
    }
}

.fa-arrow-left-long, .fa-arrow-right-long{
    position: absolute;
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    color: $fa;
    cursor: pointer;
}
.fa-arrow-left-long{
    left: 2rem;
}
.fa-arrow-right-long{
    right: 2rem;
}