h2.h2{
    text-shadow: $text-shadow;
    font-family: 'Luxi-italic','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin:2rem 0;
    font-size: 2rem;
    color: $mutedGrey;
    border-bottom: 1px solid #ffd500;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.masonery-container {
    margin-top: 3rem;
    .grid {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        .actu{
            display: flex;
            flex-direction: column;
            border-radius: .2rem;
            box-shadow: $shadow;

            .excerpt{
                padding: 0.5rem;
            }
            button.read{
                width:30%;
                color : $black;
                border-radius: .2rem;
                margin: 1rem auto;
                box-shadow: $shadow;
                transition: all ease 500ms;
                border: 1px solid $black;
                font-family: "Luxi-italic";
                &:hover{
                box-shadow: none;
                }
                background-color: $jaune;
            }
                img{
                    width: 100%;
                    border-radius: .2rem;
                }
        }
    }
}
@media (max-width: 780px){
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}