/** couleurs **/
$visited: rgb(230, 233, 70);
$red: #ff2600;
$jaune: #ffd500;
$jaune-opacifie: #fce989;
$violet: #a76dfd;
$link: #ffb9ad;
$fa: #fafafa;
$grey: #a7a7a7;
$mutedGrey: #E0E0E0;
$black: #232323;
/** shadow **/
$shadow: 1px 1px 5px $black; // shadow right bas estompe color
$text-shadow:1px 1px 2px $black;
$card-radius: 0.3rem