@font-face {
    font-family: "Nickelodeon";
    src: url("../../polices/nickelodeon/NickelodeonNF.ttf") format("ttf");
}
@font-face {
    font-family: "Tabac";
    src: url("../../polices/tabac-big-sans-light-maisfontes.3e70/tabac-big-sans-light.otf") format("otf");
}
@font-face {
    font-family: "Luxi-italic";
    src: url("../../polices/Luxi-Sans/luxisri.ttf") format("ttf");
}