@media (max-width : 576px) {
    // form
    .form-container{
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            .datefield, .select-field {
                position: relative!important;
                display: flex;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}
@media (max-width : 680px) {
    header {
        margin: 0;
        padding: 0;
        hr{
            display: none;
        }
    }
    nav.desktop {
        display: none;
    }
    .mobile-button {
        display: inline-block!important;
        .fa-bars{
            position: absolute;
            top: .5rem;
            left: .5rem;
            font-size: 2rem;
            z-index: 1000;
            text-shadow: $text-shadow;

        }
        .fa-xmark{
            position: absolute;
            left: .5rem;
            font-size: 2rem;
            z-index: 1000;
            color: $fa;
            text-shadow: $text-shadow;
        }
        ul{
            display: flex;
            flex-direction: column;
            li{
                margin: 1rem;
                text-decoration: none;
                text-align: center;
                list-style: none;
                padding: 0.2rem;
                width: 100%;
                background-color: $jaune;
                border-radius: 4px;
                transition: all ease 500ms;
                font-family: "Tabac";
                font-weight: 400;
                color: $black;
                &:hover{
                    box-shadow: $shadow;
                    background-color: $fa;
                    color: $black;
                }
            }
        }
    }
    header{
        margin: 0;
        padding: 0;
    }
    .mobile{
        display: block!important;
        position: absolute;
        top: 0;
        left:0;
        padding: 2rem;
        background: $jaune;
        width: 100%;
        z-index: 100;
        li {
            list-style:none;
        }
    }
}
@media (max-width: 770px) {
    // form
    .form-container{
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            .datefield, .select-field {
                position: relative!important;
                display: flex;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}

@media (max-width: 1015px) {
    // card
    .card{
        min-width: 20rem;
    }
    // form
    .form-container{
        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        span{
            position: absolute;
            font-size: .8rem;
        }
        .form-col{
            flex: 0 0 calc(40% - 20px);
        }
        
    }
    .select-field {
        border: none;
    }
}
@media (max-width: 1160px) {
    section {
        margin: 0 auto;
        .featured {
            .grid-1, .grid-2 {
                display: flex!important;
                flex-direction: column;
                justify-content: center;
                align-items: center
            }
        }
    }
    .featured {
        .grid-1, .grid-2{
            column-gap: 0;
        }
    }
    .video-container{
        video{
            width: 100%;
        }
    }
    .container-maps-news{
        display: flex;
        margin: 0auto;
    }
}